Package: com.imlr.bilibilisp
Name: BiliClean
Version: 1.0.28
Architecture: iphoneos-arm
Description: B站完整视频下载、赞助跳过、CDN加速、TAB管理、广告屏蔽、关键词过滤、倍速修改与Web调试插件
Maintainer: ahaduoduoduo
Author: ahaduoduoduo
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
